@model List<Products>

@{
@using appv1.Controllers
    @using appv1.DAL.Models;
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor
     Login user =  HttpContextAccessor.HttpContext.Session.GetComplexData<Login>("user");
    var action = ViewContext.RouteData.Values["action"].ToString();

}

<div>
    <h1>Nabiał</h1>

<table class="tabela">

        <tr> 


            <td>ID</td>
            <td>Nazwa</td>
            <td>Kod Produktu</td>
            <td>Ilość</td>
            <td>Cena</td>
             @if(user != null)
        {if (user.Admin == 1)
    {
                    <td>Usuń Produkt</td>
                }}
           
            @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
                <td>Dodaj do koszyka</td>
            }
            </tr>             
                
        
        
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ID </td>
                    <td> @item.Nazwa </td>
                    <td> @item.KodProduktu </td>
                    <td> @item.Ilosc </td>
                    <td> @item.Cena  zł/kg</td>

            @if(user != null)
             {if (user.Admin == 1)
                 {
               <td > @using( @Html.BeginForm("UsunProduct", "Home" , new {id = item.ID}))
                        {
                            <input type="submit"  value="Usun" />
                        }
                    </td>
            }}
            @if(!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
                    <td > @using( @Html.BeginForm("Buy", "Home" , new {id = item.ID} ))
                        {
                            <input type="submit"  value="Dodaj" />
                        }
                    </td>
            }
                    

                </tr>
            }
       
    </table>
</div>