@model List<Products>

@{
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @using appv1.Controllers
    @inject IHttpContextAccessor HttpContextAccessor
    Login user =  HttpContextAccessor.HttpContext.Session.GetComplexData<Login>("user");
  
}

<div>
    <h1 class="kategoria">Nabiał</h1>
       <table class="tabela">
        <tr> 
            <th>ID</th>
            <th>Nazwa</th>
            <th>Kod Produktu</th>
            <th>Ilość</th>
            <th>Cena</th>
           @if(user != null)
        {if (user.Admin == 1)
    {
                    <th>Usuń Produkt</th>
                }}
           
            @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
                <th>Dodaj do koszyka</th>
            }
        </tr>             
                
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ID </td>
                    <td> @item.Nazwa </td>
                    <td> @item.KodProduktu </td>
                    <td> @item.Ilosc </td>
                    <td> @item.Cena  zł/kg</td>
@if(user != null)
             {if (user.Admin == 1)
                 {
               <td > @using( @Html.BeginForm("UsunProduct", "Home" , new {id = item.ID}))
                        {
                            <input type="submit" class="form-control btn-up btn btn-primary submit" value="-" />
                        }
                    </td>
            }}
            @if(!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
               <td > @using( @Html.BeginForm("Buy", "Home" , new {id = item.ID}))
                        {
                            <input type="submit" class="form-control btn-table btn btn-primary submit" value="+" />
                        }
                    </td>
            }
                </tr>
            }
    </table>
</div>
<br />
<button type="button" class="form-control btn-kosz btn btn-primary submit px-3" onclick='window.location = "@Url.Action("Koszyk", "Home")";'>Przejdź do koszyka</button>