@model dynamic

@{
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @using System.Dynamic
    @using appv1.Controllers
    @inject IHttpContextAccessor HttpContextAccessor
    Login user =  HttpContextAccessor.HttpContext.Session.GetComplexData<Login>("user");

}


    <h1 class="kategoria" >Zamówienie</h1>
    <div style="display:flex">
   
    <div style="flex: 50%" >
       <table  class="tabela">

        <tr> 
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kod produktu</th>
            <th>ID produktu</th>
            
           
         </tr>
            
             @foreach (Products product in Model.Produkt)
            
             {
                <tr>
                    <td> @product.Nazwa </td>
                    <td> @product.Cena </td>
                    <td> @product.KodProduktu </td>
                    <td> @product.ID </td>
                    
                 </tr> 
            
            }
        </table >
       </div>
       <div style="flex: 50%">
             <table class="tabela">
                 
             <tr>
                <th>Ilosc</th>
                <th>Nr. Zamowienia</th>
                 <th>Nr. Zamowienia</th>
            </tr>
             @foreach (KoszykDoBazy koszyk in Model.Koszyk)
            
             {  <tr>
                    <td> @koszyk.Ilosc </td>
                    <td> @koszyk.ZamowienieId </td>

                 </tr> 
            }
            
           </table>
           </div>
</div>

