
@{
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @using appv1.Controllers
    @using appv1.Models
    @inject IHttpContextAccessor HttpContextAccessor

    List<Koszyk> list = HttpContextAccessor.HttpContext.Session.GetComplexData<List<Koszyk>>("cart");
   
}
<div>
    <h1>Koszyk</h1>
    <h3>@ViewBag.Message</h3>
    <table class="tabela">
       
            <tr> 
              <th class="top">Nazwa</th>
              <th class="top" colspan="3">Ilość</th>
              <th class="top">Cena</th>
            </tr>

            @foreach (var item in list)
            {
                <tr>                
                    <td> @item.Product.Nazwa </td>
                    <td colspan="3">
                        @using( @Html.BeginForm("Buy", "Home" , new {id = item.Product.ID}))
                        {
                            <button type="submit" class="form-control btn-up btn btn-primary submit " >+</button>
                        }                                       
                         @item.Ilosc 
                        @using( @Html.BeginForm("UsunZKoszyka", "Home" , new {id = item.Product.ID}))
                        {
                            <button type="submit" class="form-control btn-up btn btn-primary submit " >-</button>
                        }  
                    </td>
                    <td> @item.Product.Cena </td>
            </tr>
            }
            <tr>
            <td align="right" colspan="4">Do zapłaty </td>
            <td>
                @{
                    List<Koszyk> cart = HttpContextAccessor.HttpContext.Session.GetComplexData<List<Koszyk>>("cart");
                    var total = cart.Sum(item => item.Product.Cena * item.Ilosc);
                }
                @total
            </td>
        </tr>
       
    </table>
    <br />
    <button type="button" class="form-control btn-kosz btn btn-primary submit px-3" onclick='window.location = "@Url.Action("Zamowienie", "Home")";'>Zamów</button>
 </div>