

@{
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @using appv1.Controllers
    @using appv1.Models
    @inject IHttpContextAccessor HttpContextAccessor

    List<Koszyk> list = HttpContextAccessor.HttpContext.Session.GetComplexData<List<Koszyk>>("cart");
   
}
<div>
    <h1>Koszyk</h1>
    <h3>@ViewBag.Message</h3>
    <table class="tabela">
       
            <tr> 
                
                
              <td>Nazwa</td>
              <td>Usuń</td>
              <td>Dodaj</td>
              <td>Ilość</td>
              <td>Cena</td>
            
              </tr>

              
            @foreach (var item in list)
            {
                <tr>
                    
                    <td> @item.Product.Nazwa </td>
                    <td > @using( @Html.BeginForm("UsunZKoszyka", "Home" , new {id = item.Product.ID}))
                        {
                            <input type="submit"  value="Usun" />
                        }
                    </td>
                    <td > @using( @Html.BeginForm("Buy", "Home" , new {id = item.Product.ID}))
                        {
                            <input type="submit"  value="Dodaj" />
                        }
                    </td>
                    <td> @item.Ilosc </td>
                    <td> @item.Product.Cena </td>
            </tr>
            }
            <tr>
            <td align="right" colspan="4">Do zapłaty </td>
            <td>
                @{
                    List<Koszyk> cart = HttpContextAccessor.HttpContext.Session.GetComplexData<List<Koszyk>>("cart");
                    var total = cart.Sum(item => item.Product.Cena * item.Ilosc);
                }
                @total
            </td>
        </tr>
       
    </table>
    <br />
    <button type="button" class="form-control btn-kosz btn btn-primary submit px-3" onclick='window.location = "@Url.Action("Zamowienie", "Home")";'>Zamów</button>
 </div>