@model List<Products>

@{
    ViewData["Title"] = "Lista Produktów";
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor
}

<div>
    <h1>Produkty</h1>
    <table class="tabela">

        <tr> 


            <td>ID</td>
            <td>Nazwa</td>
            <td>Kod Produktu</td>
            <td>Ilość</td>
            <td>Cena</td>
            @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
                <td>Dodaj do koszyka</td>
            }
            @if(@HttpContextAccessor.HttpContext.Session.GetString("admin") == "admin")
            {
                 <td>Usuń</td>
            }
            </tr>
             
                
              
        
        
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.ID </td>
                    <td> @item.Nazwa </td>
                    <td> @item.KodProduktu </td>
                    <td> @item.Ilosc </td>
                    <td> @item.Cena  zł/kg</td>

                     @if(!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("username")))
            {
               <td > @using( @Html.BeginForm("Buy", "Home" , new {id = item.ID}))
                        {
                            <input type="submit"  value="Dodaj do koszyka" />
                        }
                    @if(@HttpContextAccessor.HttpContext.Session.GetString("admin") == "admin")
           
                        {
                           <td > @using( @Html.BeginForm("UsunProduct", "Home" , new {id = item.ID}))
                                    {
                                        <input type="submit"  value="Usun" />
                                    }
                                </td>
                        }
             
                    </td>
            }
            
                    

                </tr>
            }
       
    </table>

    <div class="col-lg-12"> 

    
             @if(@HttpContextAccessor.HttpContext.Session.GetString("admin") == "admin")
            {
                @Html.ActionLink("DodajProdukt", "DodajProdukt", "Home") 
            }
           
        
       </div>   
